/* *Generics* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    color: white;
    background-color: black;
    font-family: 'Lato', sans-serif;
}
a {
    color: white;
}

/* * Utils * */
.wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.m5 {
    margin: 5px 5px;
}

/* *Header section* */
.topbar{
    flex-basis: 50px;
}

#speaker-view {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#speaker-view > a {
    text-decoration: none;
    padding: 5px 7px;
    background-color: #4A4A4A;
    border-radius: 5px;
}

/* *Main webcams section* */
main {
    flex-grow: 1;
}

.webcam-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 0 50px;
}

.card {
    position: relative;
    transition: transform 1s;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.2);
    z-index: 1;
}

.webcam-settings {
    background-color:rgba(97,109,122,0.6);
    padding: 5px 5px;
    position: absolute;
    bottom: 3px;
    left: 0;
}

/* *Footer section* */
footer {
    flex-basis:80px;
    background-color: #111;
}

footer > * {
    flex-basis: calc(100% / 3);
}

/* *Navbar section* */
#navbar > nav {
    display: flex;
    justify-content: space-between;
}

#navbar ul {
    display: flex;
}

#navbar nav li {
    list-style-type: none;
    align-self: center;
}

#navbar nav i {
    font-size: 28px;
    margin-bottom: 5px;
}

#navbar nav .fa-chevron-up {
    font-size: 12px;
    align-items: flex-end;
}

#navbar nav .fa-share-square {
    color: #4BC800;
}

#navbar nav a {
    padding: 0 10px;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#navbar a.end-meeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: red;
    background-color: #4A4A4A;
    padding: 23px 10px;
    height: 100%;
}